name: Python Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        push: false
        tags: ghcr.io/task3

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH access
        run: |
          mkdir -p $HOME/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > $HOME/.ssh/id_ed25519
          chmod 600 $HOME/.ssh/id_ed25519
          ssh-keyscan -H 10.20.40.14 >> $HOME/.ssh/known_hosts

      - name: Deploy to Remote Device (10.20.40.14)
        run: |
          ssh -o StrictHostKeyChecking=yes cybersecurity@10.20.40.14 << 'EOF'            
            set -e
            cd ./task3
            git pull origin main
            docker compose down || true
            docker system prune -a -f
            docker compose up -d --build
          EOF

