name: Python Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker images with Compose
      run: docker compose build

    - name: Build Docker images
      run: docker compose -f ./task3/docker-compose.yml up

    - name: Run tests
      run: docker compose -f ./task3/docker-compose.yml run --rm web pytest task3/

    - name: Clean up
      run: docker compose -f ./task3/docker-compose.yml down


    - name: Bring down services
      run: docker compose down

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2

    - name: Build and push Docker images
      run: |
        docker compose build
        docker compose push
