name: Python Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: false
          tags: ghcr.io/task3

  deploy:
    runs-on: self-hosted  
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Build project
        run: |
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        uses: actions/upload-pages-artifact@v3

      - name: Publish
        uses: actions/deploy-pages@v4
