name: Python Docker CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: Dockerfile
        push: false
        tags: ghcr.io/task3

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Start Docker Compose services
      uses: appleboy/ssh-action@v1.0.3
      with: 
        host: 10.20.40.14
        username: cybersecurity
        script: |
           cd cybersecurity/task3/docker-copmose.yml

           docker compose down task3 || ture

           docker image prune -a -f 
           docker container prune -f
           docker system prune -a -f

           docker compose up -d task3 || ture
